.gallery {
  padding: 30px 0 20px 0;
}

.gallery__wrapper {
  position: relative;
}

.gallery h2 {
  font-size: 35px;
  font-weight: 800;
  line-height: 35px;
  margin: 0 90px 24px 0;
  position: relative;

  &::before {
    content: "Фотогалерея";
    position: absolute;
    top: -17px;
    left: 0;

    font-size: 55px;
    font-weight: 800;
    line-height: 55px;

    color: rgba($color-elephant, 0.03);
  }

  @include vp-1199 {
    font-size: 25px;
    line-height: 25px;
    margin-bottom: 23px;

    &::before {
      top: -13px;

      font-size: 40px;
      line-height: 40px;
    }
  }

  @include vp-767 {
    font-size: 22px;
    line-height: 22px;
    margin-bottom: 14px;

    &::before {
      top: -4px;

      font-size: 26px;
      line-height: 26px;
    }
  }
}

.gallery p {
  margin: 0 0 45px 0;
  max-width: 700px;

  @include vp-1199 {
    margin-bottom: 37px;
    font-size: 14px;
    line-height: 22px;
    max-width: 400px;
  }

  @include vp-767 {
    font-size: 12px;
    line-height: 18px;
    margin-bottom: 15px;
  }
}

.gallery__wrapper {
  position: relative;
}

.gallery__content-wrapper {
  margin: 0 auto;
  padding: 0;
  list-style-type: none;
  width: fit-content;
}

.gallery__slide {
  width: fit-content;
}

.gallery__image-wrapper--horizontal {
  margin-bottom: 5px;

  @include vp-767 {
    margin-bottom: 3px;
  }
}

.gallery__image-wrapper--vertical img {
  @include vp-767 {
    width: 159px;
    height: 259px;
  }
}

.gallery__image-wrapper--horizontal img {
  @include vp-767 {
    width: 172px;
    height: 103px;
  }
}

.gallery__image-wrapper--square img {
  @include vp-767 {
    width: 172px;
    height: 153px;
  }
}

.gallery__buttons {
  position: absolute;
  top: 65px;
  right: 0;
  display: flex;
  background-color: $color-default-white;
  width: fit-content;

  @include vp-1199 {
    top: 62px;
  }

  @include vp-767 {
    position: static;
    margin: 0 0 15px auto;
  }
}

.gallery__button {
  padding: 5px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $color-navy-blue;
  width: 37px;
  height: 35px;
  cursor: pointer;

  @include hover-focus {
    background-color: $color-default-white;

    box-shadow: inset 0 0 0 1px $color-resolution-blue;

    & svg {
      fill: $color-resolution-blue;
    }

    &:active {
      background-color: $color-resolution-blue;

      & svg {
        fill: $color-default-white;
      }
    }
  }

  @include active {
    background-color: $color-resolution-blue;

    & svg {
      fill: $color-default-white;
    }
  }

  &:focus-visible {
    outline: none;
  }

  &:disabled {
    background-color: rgba($color-navy-blue, 0.1);

    pointer-events: none;
  }
}

.gallery__button svg {
  fill: $color-default-white;
}

.gallery__button--prev {
  margin-right: 4px;
}

.gallery__button--next svg {
  transform: scale(-1, 1);
}
