.main-nav {
  padding-top: 20px;

  .is-open & {
    order: 10;
    position: static;
    width: 100%;
    display: block;
    overflow: auto;
    max-height: 100vh;
  }

  @include vp-1199 {
    padding-top: 0;
    display: none;
  }
}

.main-nav__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;

  .main-header & {
    @include vp-1199 {
      display: none;
      flex-direction: column;
    }
  }

  .is-open & {
    display: block;
    padding: 31px 0 26px 0;
    overflow: scroll;
  }

  @include vp-767 {
    .is-open & {
      padding-top: 16px;
    }
  }

  .main-footer & {
    @include vp-767 {
      display: block;
      column-count: 2;
      column-gap: 10px;
    }
  }
}

.main-nav__item:not(:last-child) {
  margin: 0 22px 22px 0;

  @include vp-1199 {
    margin: 0;
  }
}

.main-nav__link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 3px 5px;

  line-height: 16px;
  color: inherit;

  transition: all $trans-default;

  user-select: none;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;

    width: 100%;
    height: 1px;

    background-color: $color-default-white;
    opacity: 0;

    transition: all $trans-default;
  }

  @include hover {
    &::before {
      opacity: 1;
    }
  }

  &:focus-visible {
    outline: none;
  }

  &:disabled {
    opacity: 0.5;

    pointer-events: none;
  }

  .main-header & {
    @include focus {
      box-shadow: inset 0 0 0 1px $color-default-white;

      &:active {
        box-shadow: none;

        &::before {
          opacity: 0;
        }
      }
    }

    @include active {
      box-shadow: none;

      &::before {
        opacity: 0;
      }
    }

    @include vp-1199 {
      text-transform: uppercase;
      color: $color-elephant;
      font-weight: 700;
      margin: 0 -5px;
      padding: 13px 5px;
      letter-spacing: 0.04em;

      @include focus {
        box-shadow: inset 0 0 0 1px $color-elephant;

        &:active {
          box-shadow: none;

          &::before {
            opacity: 0;
          }
        }
      }

      @include active {
        box-shadow: none;

        &::before {
          opacity: 0;
        }
      }
    }

    @include vp-767 {
      font-size: 14px;
      line-height: 14px;
      padding: 12px 0 10px 0;
    }
  }

  .main-footer & {
    &::before {
      background-color: $color-elephant;
    }

    @include focus {
      box-shadow: inset 0 0 0 1px $color-elephant;

      &:active {
        box-shadow: none;

        &::before {
          opacity: 0;
        }
      }
    }

    @include active {
      box-shadow: none;

      &::before {
        opacity: 0;
      }
    }

    @include vp-1199 {
      line-height: 14px;
      font-size: 14px;
    }
  }
}
