.social__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.social__item:not(:last-child) {
  margin-right: 15px;
}

.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 30px;
  min-height: 30px;
  padding: 0;

  background-color: $color-default-white;
  box-shadow: inset 0 0 0 1px rgba($color-elephant, 0.3);

  transition: all $trans-default;

  user-select: none;

  &:hover,
  &:focus {
    box-shadow: inset 0 0 0 1px $color-elephant;
  }

  &:active {
    background-color: $color-navy-blue;
    box-shadow: none;

    & svg {
      fill: $color-default-white;
    }
  }

  &:focus-visible {
    outline: none;
  }

  &:disabled {
    pointer-events: none;

    & svg {
      fill: rgba($color-elephant, 0.3);
    }
  }
}

.social__link svg {
  transition: all $trans-default;

  fill: $color-elephant;
}
